#main {
  position: relative;
}

#map-img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin-bottom: 60px;
}

#whale {
  position: absolute;
  cursor: pointer;
}

#whale-info {
  position: absolute;
  background-color: gray;
  color: white;
  border-radius: 20%;
  padding: 20px;
  display: none;
}

#pin {
  position: absolute;
}

#mojihoui {
  position: fixed;
  height: 10vh;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
}
