#main {
  position: relative;
}

#map-img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#whale {
  position: absolute;
  border: solid 1px gray;
  border-radius: 30%;
  cursor: pointer;
}

#whale-info {
  position: absolute;
  background-color: gray;
  color: white;
  border-radius: 20%;
  padding: 20px;
  display: none;
}
