#main {
  position: relative;
}

#map-img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin-bottom: 60px;
}

#whale {
  position: absolute;
  cursor: pointer;
}

#overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  opacity: 0;

  #show-info:checked+& {
    visibility: visible;
    opacity: 1;
  }
}

#whale-info {
  position: fixed;
  background-color: gray;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
}

#pin {
  position: absolute;
}

#mojihoui {
  position: fixed;
  height: 10vh;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
}

#show-info {
  visibility: hidden;
}
