<meta charset="utf-8">
<title>{{ .Title }}</title>

<!-- description -->
{{- if .Site.Params.description }}
  <meta name="description" content="{{ .Site.Params.description }}">
{{- end }}

<!-- keyword -->
{{- if .Site.Params.keyword }}
  <meta name="keyword" content="{{ .Site.Params.keyword }}">
{{- end }}

<!-- OGP -->
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:locale" content="ja_JP">
<meta name="twitter:card" content="photo">

{{- if .Site.Params.image }}
  {{- $imageRes := resources.Get .Site.Params.image -}}
  <meta property="og:image" content="{{ $imageRes.Permalink }}">
{{- end }}

{{- if .Site.Params.description }}
  <meta property="og:description" content="{{ .Site.Params.description }}">
{{- end }}

<!-- viewport -->
<meta name="viewport" content="width=device-width,initial-scale=1">

<!-- css -->
{{ $style := resources.Get "scss/main.scss" | toCSS | minify }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

<!-- favicon -->
<link rel="shortcut icon" href="{{ .Site.BaseURL }}/images/favicon.jpeg" />

<!-- fontawesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<!-- Noto Serif JP -->
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@600&display=swap" rel="stylesheet">
