<script type="text/javascript">
  // new images
  const mapImg = new Image();
  const pinImg = new Image();
  const whaleImg = new Image();
  // get elements
  const map = document.getElementById('map-img');
  const pin = document.getElementById('pin');
  const whale = document.getElementById('whale');
  const overlay = document.getElementById('overlay');
  const whaleInfo = document.getElementById('whale-info');
  const cancel = document.getElementById('whale-info__cancel');

  mapImg.onload = () => {
    // get map image height/width
    const ratio = window.innerHeight / mapImg.naturalHeight * 0.84;
    mapImg.height = mapImg.naturalHeight * ratio;
    mapImg.width = mapImg.naturalWidth * ratio;

    // adjust whale positions
    whale.style.width = `${mapImg.width * 0.11}px`;
    whale.style.top = `${mapImg.height * 0.148}px`;
    whale.style.left = `${mapImg.width * 0.265}px`;

    // adjust pin positions
    pin.style.width = `${mapImg.height * 0.1}px`;
    pin.style.top = `${mapImg.height * 0.090}px`;
    pin.style.left = `${mapImg.width * 0.292}px`;
  }

  // inject map image
  mapImg.src = '{{ .Site.BaseURL }}/images/map.jpg';
  mapImg.alt = 'マップ';
  mapImg.title = 'マップ';
  map.appendChild(mapImg);

  // inject pin image
  pinImg.src = '{{ .Site.BaseURL }}/images/pin.svg';
  pin.appendChild(pinImg);

  // inject whale image
  whaleImg.src = '{{ .Site.BaseURL }}/images/kujira.svg';
  whale.appendChild(whaleImg);

  // toggle info
  whale.onclick = () => {
    overlay.style.display = 'block';
  }
  cancel.onclick = () => {
    overlay.style.display = 'none';
  }
</script>
