<div class="info-block">
  <div class="close-block">
    <label for="show-info" class="close-btn">
      <i class="fa fa-times"></i>
    </label>
  </div>
  <div class="title-block">
    <h1 class="noto-serif-jp">座頭鯨 ~ザトウクジラ~</h1>
  </div>
  <div class="img-block">
    <img src="{{ .Site.BaseURL }}/images/photo.jpeg" />
  </div>
  <div class="text-block">
    <p>誕生日は4月26日 (制作期間3ヶ月)</p>
    <p>大きさはなんと<strong>約20m！</strong></p>
    <p>夢は流れる雲と一緒に空を飛ぶこと</p>
    <p>最近の悩みは友達がいないこと、他の動物とはもちろんだけど、人間の友達もほしいらしい…</p>
    <br>
    <p>居場所：長岡市栃尾地域巻渕二丁目、国道290号線沿いの刈谷田中学校の下の田んぼ</p>
  </div>
  <div class="map-block">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3165.993969484504!2d139.00518781624672!3d37.484468679813276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff505f0c018d3e5%3A0xc97511fedf52337f!2z44CSOTQwLTAxMzMg5paw5r2f55yM6ZW35bKh5biC5be75riV77yS5LiB55uu77yU4oiS77yR77yZ!5e0!3m2!1sja!2sjp!4v1595055251121!5m2!1sja!2sjp"
      width="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
      tabindex="0"></iframe>
  </div>
  <div class="link-block">
    <a href="https://www.facebook.com/petbotl338/posts/2519684485027442">詳細へ</a>
  </div>
</div>
